.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ebff00;
  border-radius: 10px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul li {
  margin-bottom: 1rem;
}
a {
  color: white;
}