.main-container {
  width: 100vw;
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("../../assets/images/man-bg.svg");
}
/*Mobile (Smartphone)📱*/
@media (max-width: 480px) {
  .main-container {
    background-position: top;
    background-size: contain;
  }
}
/* Low Resolution Tablets and ipads */
@media (min-width: 481px) and (max-width: 770px) {
  .main-container {
    background-position: 60%;
    background-size: cover;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    background-position: 60%;
    background-size: cover;
  }
}
