.unitnpm {
  width: fit-content;
  background: #f92020;
  border: 5px solid #f92020;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  margin: 10px 10px 10px 0px;
}

.unitnpm:hover {
  padding: 0px 10px;
}
