.nav-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
  height: 100%;
  background: var(--transparentBg);
  width: 20%;
  color: white;
  padding: 50px 10px 10px 10px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  font-weight: 200;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a.active {
  text-decoration: line-through;
}

.nav-bar-close {
  height: 0px;
  overflow: auto;
  padding: 0px;
}

@media (max-width: 480px) {
  .nav-bar {
    width: 100%;
    padding: 50px 10px 10px 50px;
    background: black;
  }
}
