.nav-bar {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
  height: 90vh;
  background: #000;
  width: 200px;
  color: white;
  padding: 50px 10px 10px 10px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  font-weight: 100;
  text-shadow: var(--font-backdrop);
}
