.sidebar-container {
  position: absolute;
  width: 611px;
  height: calc(100% - 43px);
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 43px 10px 0px 97px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 64px;
  font-weight: 100;
}
.sidebar-header strong {
  font-weight: 400;
}
.sidebar-header::before {
  content: "I";
  font-weight: 500;
  margin-right: 10px;
}
.sidebar-body {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 3rem;
  text-align: left;
}
/*Mobile (Smartphone)📱*/
@media (max-width: 480px) {
  .sidebar-header {
    font-size: 30px;
  }
  .sidebar-body {
    font-size: 16px;
  }
  .sidebar-container {
    width: auto;
    height: auto;
    background: transparent;
    padding: 28vh 10px 0px 10px;
  }
}

/* Low Resolution Tablets and ipads */
@media (min-width: 481px) and (max-width: 770px) {
  .sidebar-header {
    font-size: 32px;
  }
  .sidebar-body {
    font-size: 20px;
  }
  .sidebar-container {
    width: 420px;
    height: calc(100% - 43px);
    background: rgba(0, 0, 0, 0.45);
    padding: 40px 10px 0 50px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar-header {
    font-size: 36px;
  }
  .sidebar-body {
    font-size: 28px;
  }
  .sidebar-container {
    width: 550px;
    height: calc(100% - 43px);
    background: rgba(0, 0, 0, 0.45);
    padding: 40px 10px 0 50px;
  }
}
