.sidebar-container {
  position: absolute;
  width: 611px;
  height: calc(100% - 43px);
  top: 0;
  left: 0;
  background: var(--transparentBg);
  color: white;
  padding: 43px 10px 0px 97px;
  overflow-y: auto;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 64px;
  font-weight: 100;
  text-shadow: var(--font-backdrop);
}
.sidebar-header strong {
  font-weight: 400;
}
.sidebar-header::before {
  content: "I";
  font-weight: 500;
  margin-right: 10px;
  text-shadow: none;
}
.sidebar-body {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 3rem;
  text-align: left;
}
/*Mobile (Smartphone)📱*/
@media (max-width: 480px) {
  .sidebar-header {
    font-size: 40px;
  }
  .sidebar-body {
    font-size: 16px;
  }
  .sidebar-container {
    width: auto;
    max-height: calc(100% - 28vh);
    background: transparent;
    padding: 28vh 10px 0px 10px;
  }
}

/* Low Resolution Tablets and ipads */
@media (min-width: 481px) and (max-width: 770px) {
  .sidebar-header {
    font-size: 40px;
  }
  .sidebar-body {
    font-size: 20px;
  }
  .sidebar-container {
    width: 420px;
    height: calc(100% - 43px);
    background: var(--transparentBg);
    padding: 40px 10px 0 50px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 770px) and (max-width: 1024px) {
  .sidebar-header {
    font-size: 40px;
  }
  .sidebar-body {
    font-size: 28px;
  }
  .sidebar-container {
    width: 550px;
    height: calc(100% - 43px);
    padding: 40px 10px 0 50px;
  }
}

.sidebar-header .emoji {
  text-shadow: none;
}
